@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input-form {
  @apply border-2
   border-gray-300 
   p-2 
   rounded-md 
   w-2/3 
   focus:outline-none 
   focus:ring-2 
   focus:ring-indigo-400 
   focus:border-transparent 
   font-bold;
}

.btn1 {
  @apply bg-indigo-500 
  text-white 
  p-2 
  rounded-md 
  w-1/2 
  mx-auto 
  hover:bg-indigo-600 
  focus:outline-none 
  focus:ring-2 
  focus:ring-indigo-400 
  focus:ring-offset-2 
  focus:ring-offset-gray-100;
}
